In [ ]:
import sqlite3

def create_sqlite_database(filename):
    """ create a database connection to an SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(filename)
        print(sqlite3.sqlite_version)
    except sqlite3.Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_sqlite_database("week5Assignment.db")

3.37.2

In [ ]:
import sqlite3

def create_tables():
    sql_statements = [
        """CREATE TABLE IF NOT EXISTS users (
                id INTEGER PRIMARY KEY,
                username text UNIQUE,
                email TEXT UNIQUE,
                password TEXT UNIQUE,
                isadmin BOOLEAN DEFAULT 0,
                createdat TEXT DEFAULT CURRENT_TIMESTAMP
        );"""]

    # create a database connection
    try:
        with sqlite3.connect('week5Assignment.db') as conn:
            cursor = conn.cursor()
            for statement in sql_statements:
                cursor.execute(statement)

            conn.commit()
    except sqlite3.Error as e:
        print(e)


if __name__ == '__main__':
    create_tables()

In [ ]:
import sqlite3

def add_user(conn, users):
    sql = ''' INSERT INTO users(username,email,password,isadmin,createdat)
              VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, users)
    conn.commit()
    return cur.lastrowid

def main():
    try:
        with sqlite3.connect('week5Assignment.db') as conn:
            # add a new user
            users = [
                ('user1', 'user1@email.com', 'Password_D', 1, '2023-03-26 06:19:10'),
                ('user2', 'user2@email.com', 'Password_C', 0, '2023-03-26 16:28:47'),
                ('user3', 'user3@email.com', 'Password_B', 0, '2023-03-27 06:19:10'),
                ('user4', 'user4@email.com', 'Password_A', 0, '2023-03-25 06:19:10')
            ]
            for users in users:
              users_id = add_user(conn, users)
              print(f'Created a user with the id {users_id}')

    except sqlite3.Error as e:
        print(e)

if __name__ == '__main__':
    main()

Created a user with the id 1
Created a user with the id 2
Created a user with the id 3
Created a user with the id 4

In [ ]:
import sqlite3

sql = 'UPDATE users SET isadmin = ? WHERE id = ?'

try:
    with sqlite3.connect('week5Assignment.db') as conn:
        cursor = conn.cursor()
        cursor.execute(sql, (1,4) )
        conn.commit()
except sqlite3.Error as e:
    print(e)

In [ ]:
import sqlite3

try:
    with sqlite3.connect('week5Assignment.db') as conn:
        cur = conn.cursor()
        cur.execute('select * from users where isadmin = 0')
        rows = cur.fetchall()
        for row in rows:
            print(row)
except sqlite3.Error as e:
    print(e)

(2, 'user2', 'user2@email.com', 'Password_C', 0, '2023-03-26 16:28:47')
(3, 'user3', 'user3@email.com', 'Password_B', 0, '2023-03-27 06:19:10')

In [ ]:
import sqlite3

try:
  with sqlite3.connect('week5Assignment.db') as conn:
        cur = conn.cursor()
        cur.execute('select * from users where username = ? AND password = ?', ('user3', 'Password_B'))
        rows = cur.fetchall()
        for row in rows:
            print(row)
except sqlite3.Error as e:
    print(e)

(3, 'user3', 'user3@email.com', 'Password_B', 0, '2023-03-27 06:19:10')

In [ ]:
import sqlite3

try:
    with sqlite3.connect('week5Assignment.db') as conn:
        cur = conn.cursor()
        delete_stmt = 'DELETE FROM users WHERE id = ?'
        cur.execute(delete_stmt, (3,))
        conn.commit()
except sqlite3.Error as e:
    print(e)